section 
{
  width: 90vw;
  margin: 5rem auto;
  background-color: rgb(42, 157, 165);
 
 
}
article 
{
  position:absolute; 
  top:0; 
  left:0; 
  width:100%; 
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}
article.next 
{
  transform: translateX(100%);
}
article.prev 
{
  transform: translateX(100%);
}
article.active 
{
  opacity: 1;

  transform: translateX(0);
}

h1,h2,h3 
{
  text-transform: capitalize;
  letter-spacing:.2rem; 
  line-height: 1.5;
  margin-bottom: .75rem;

}
h3 
{
  color:hsl(209, 34%, 30%);
  font-size: 1rem;
  text-align: center;
}
h1 
{
  color: hsl(209, 61%, 16%);
  font-size: 3rem  ;
  text-align: center;
}
.people-center
{
width: 80vw;
height: 450px;
margin: 0 auto;
margin-top:4rem; 
max-width: 800px;
text-align: center;
position: relative;
display: flex;
}
.icon
{
top: .4%;
left: .2%;
position: absolute;
font-size: 3rem;
color:hsl(190, 30%, 30%);
}
.personImg
{

  border-radius: 50px  15px  50px 50px;
}
.name,.title
{
  color: hsl(209, 61%, 16%);
  font-size: 1.5rem  ;

}
.description
{
  font-size: 1.5rem  ;
  max-width: 80em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 1.5;
  color:hsl(190, 30%, 30%);
  font-family:  'Segoe UI', 
 'Open Sans', 'Helvetica Neue', sans-serif;

}
.prevSlide,.nextSlide 
{
  position: absolute; 
  background-color:#fff;
  width:3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 50px;
  cursor : pointer ; 
  position: absolute;
  top:290px;
  outline: none;
}
.prevSlide
{
  left:0; 
}
.nextSlide 
{
  right:0;
}