.navbar {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  color: white;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  background: transparent;
  transition: all 0.2s;
}
#navbar--link-logo {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}
#navbar--toggle-sidebar {
  display: flex;
  width: 90px;
  justify-content: space-between;
  align-items: center;
}
.navbar--link {
  list-style: none;
  display: flex;
  font-weight: bold;
  align-items: center;
  padding-left: 50px;
  padding-top: 10px;
}
#logo {
  padding-left: 12px;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  margin: 0;
}

#phone {
  margin-right: 5px;
  margin-top: 5px;
}
#Email {
  margin-right: 5px;
  margin-top: 5px;
}
.navbar--link-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.navbar--link-item i {
  color: #495057;
  margin: 0 5px;
}
.navbar-sticky {
  display: flex;
  z-index: 2;
  width: 100%;
  color: white;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
      box-shadow: 0px 0px 1px rgb(0 0 0 / 50%);
  transition: all 0.5s;
}

.menu-bars {
  background: none;
  align-self: center;
}

.nav-menu {
  background-color: #232323;
  width: 350px;
  height: 75vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20%;
  right: -100%;
  transition: 850ms;
  border-radius: 15px;
  margin-right: 50px;
}

.nav-menu.active {
  right: 0;
  /* transition: 350ms; */
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  list-style: none;
  height: 60px;
}
li {
  display: list-item;
}
.nav-text  {
  display: block;
  position: relative;
  color: #fff;
  padding: 0;
  outline: none;
  text-align: left;
  text-transform: capitalize;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  text-decoration: none;
  font-size: 2rem;
}

/* .nav-text a:hover {
  color: #0dd7f7;
  cursor: pointer;
} */
.active
{
  color: #0dd7f7;
  cursor: pointer;
  opacity: 1;
display: inline-block;
  
}

.active > span::before
{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\2713";
  color: #0dd7f7;
}

.nav-menu-items {
  width: 100%;
  padding: 24px 48px;
}
.menue-icon {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 1px;
  background-color: #fff;
}
.fa-moon,
.fa-sun {
  color: white;
  font-size: 20px;
}
.fa-bars,
.fa-times {
  font-size: 30px;
}
#close-navbar {
  display: block;
  text-align: right;
  font-size: 30px;
}
 /*  Style Welcoming section */
 #Home {
  line-height: 1.8;
  height: 90vh;
  background-image: url("../../images/Group.png");
  background-size: cover;
  width: 100%;
  height: 100%;
   display: flex;
  flex-direction: column; 
  /* margin-top: 300px; */

  padding:150px;
 
}
.btns
{
margin-top: -270px;
}
.fill-btn
{
  font-weight: 700;
  font-size: 14px;
  margin: 36px 0 0 0;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  border: 2px solid #0c3d71;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 20%);
  background-color: #0c3d71;
  font-family: "Manrope", sans-serif;
  outline: none;

}
.primary-btn
{
  padding: 10px 30px; 
  margin: 360px 0px 24px 12px;
  color: #0c3d71;
  border: 2px solid #0c3d71;
  outline: none;
  border-radius: 50px;
  font-family: "Manrope", sans-serif;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 20%);


}
.fill-btn:hover
{
  background-color:#0dd7f7; 
  cursor: pointer;
  border:none; 
}
.primary-btn:hover 
{
  background-color:#0dd7f7; 
  cursor: pointer;
  border:none; 
}

.Hero--info
{
  display: flex;
  flex-direction: column;
  /* margin-top: 200px; */

}
.Hero--info p 
{
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  display:block; 
  margin: 0px 0px 16px ;
  color:#666666; 
  font-family: "Manrope", sans-serif;
  width:55%; 

 
}
.name-h2
{
  font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.5px;
    text-align: left;
    font-family: "Manrope", sans-serif;
    color:#394153; 
    font-size: 56px;
}
.Expert-h2
{ 
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  line-height: 1.5;
  color:#394153; 
  margin: 0px 0px 16px ;
   
}
.name-h2 span 
{
  color: #0c3d71;
  font-weight: 900;
  font-size: 56px;
}
.h3-fullStack
{
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 15px;
  color:#394153; 
}
.h3-fullStack::after
{
  content: "";
    width: 80px;
    height: 3px;
    background-color: #0dd7f7;
    border-radius: 6px;
    display: block;
}
.Lottie-player
{
width:40%;
position: relative;
margin-top: -430px;
margin-bottom: 20px;
left: 60%;
}
.icons-logo 
{
  /* display: flex;
  flex-direction: column; */
  text-align: center; 
margin-top:250px;
padding: 50px;

}
.images
{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 50px;
  

}