* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
  
}
html 
{overflow-x: hidden;}
 
body {
  
    /* max-width: 400px; */

    margin: 0 auto;
   width: calc(100vw - (100vw - 100%))
}
h6 
{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}